banner login #
___ ___ ___ ___
\C/ \O/ \L/ \T/   This is {{COLT_HOSTNAME}}.{{ SAR[-3] }}{{ SAR[-2] }}{{ SAR[-1] }}.ipc.colt.net
 V   V   V   V    Unauthorised access prohibited!

This equipment is monitored.
Logs will be used as evidence in court.
COLT Telecommunications Group PLC.
Network Monitoring Centre: +44 20 7390 7848.
#
