{# MACRO to convert SERVICE_BW into either bit value or description like '16M' #}
{% macro SERVICE_BW_CONVERTER(bandwith_variable,value="") %}
{% set number = [] %}
{% set word = [] %}
{% set sbbit = [] %}
{% for item in bandwith_variable %}
{% if item == '0'  %}
{% do number.append(item) %}
{% elif item|int  %}
{% do number.append(item) %}
{% elif item == " "  %}
{% elif item == "/"  %}
{% break %}
{% elif item|string  %}
{% do word.append(item) %}
{% endif %}
{% endfor %}
{% set number = number|join %}
{% set word = word|join %}
{% if word[0]|upper == 'K' %}
{% set sbbit = number|int * 1000 %}
{% elif word[0]|upper == 'M' %}
{% set sbbit = number|int * 1000000 %}
{% elif word[0]|upper == 'G' %}
{% set sbbit = number|int * 1000000000 %}
{% endif %}
{% if value == 'bit' %}{{ sbbit }}{% elif value == 'kbit' %}{{ (sbbit / 1000)|int }}{%elif value == 'descr'%}{{number}}{{word[0]|upper}}{% endif %}
{% endmacro %}
