{# MACRO to convert generate L2 ethernet config SPEED/DUPLEX/MEDIA-TYPE/AUTONEGO #}
{% macro ETH_SETTINGS(media,port_type,speed,duplex,value="") %}
{% if port_type[0] == 'RJ45' %}
{% if not speed %}
 speed auto
{%else%}
 speed {{speed|lower}}
{% endif %}
{% if not duplex %}
 duplex auto{%else%}
 duplex {{duplex|lower}}{% endif %}
{% elif port_type[0] == 'SFP' %}
{% if not speed and not duplex %}
 negotiation auto
{% elif speed|lower == 'auto' and duplex|lower == 'auto' %}
 negotiation auto
{% else %}
 no negotiation auto
 speed {{speed|lower}}
 duplex {{duplex|lower}}{% endif %}
{% elif port_type[0] == 'DUAL' %}
{% if media == 'SX' or media == 'LX' %}
 media-type sfp
{% elif media == 'RJ45' %}
 media-type rj45
{% endif %}
{% if not speed and not duplex %}
 negotiation auto{% elif speed|lower == 'auto' and duplex|lower == 'auto' %}
 negotiation auto{% else %}
 no negotiation auto
 speed {{speed|lower}}
 duplex {{duplex|lower}}{% endif %}
{% endif %}{% endmacro %}
{#

 #}
