!LAN
!
{% from 'templates/COMMON/ETH_SETTINGS_MACRO.j2' import ETH_SETTINGS with context %}
{% from 'templates/COMMON/TRIM_SPACES_MACRO.j2' import TRIM_SPACES with context %}
{# .............................................. #}
{# ................LAN........................... #}
{# .............................................. #}
{# .....VARIABLE CREATION........................ #}
{% set IF_USED = [] %}
{% set TRUNK_USED = [] %}
{# .............................................. #}
{% if CDP_ON_LAN %}
cdp run
{% endif %}
{% for subvpnID in SUBVPN %}
{% set IF_EXIST = [] %}
{% set VRRP_EXIST = [] %}
{% set IPHELPER_EXIST = [] %}
{# .............................................. #}
{% for lanID in SUBVPN[subvpnID].LAN %}
{% set IF_SW = [] %}
{% set LAN_INT = [] %}
{% set IF_PORT_TYPE = [] %}
{% if SUBVPN[subvpnID].LAN[lanID].INT == "0" or not SUBVPN[subvpnID].LAN[lanID].INT %}
{% set LAN_INT = vars[CPE_MODEL].INT.1.INT %}
{% else %}
{% set LAN_INT = SUBVPN[subvpnID].LAN[lanID].INT %}
{% endif %}

{# .............................................. #}
{% if SUBVPN[subvpnID].STATUS and LAN_INT and SUBVPN[subvpnID].LAN[lanID].IP %}
{# .............................................. #}
{# ..FOR LOOP to TEST IF INTERFACE IS SWITCHED in all.yml... #}
{% for ifID in vars[CPE_MODEL].INT %}
{% if vars[CPE_MODEL].INT[ifID].INT == LAN_INT %}
{% do IF_SW.append(vars[CPE_MODEL].INT[ifID].SWITCHED) %}
{% do IF_PORT_TYPE.append(vars[CPE_MODEL].INT[ifID].PORT_TYPE) %}
{% endif %}
{% endfor %}
{% if IF_SW == [True] %}
default interface vlan 1
interface vlan 1
 shutdown
!
{% endif %}
{% if IF_SW == [True] and not SUBVPN[subvpnID].LAN[lanID].VLAN %}
{# .............................................. #}
{# LAN UNTAGGED + SWITCHED............................... #}
!
vlan 1{{subvpnID}}{{lanID}}
no spanning-tree vlan 1{{subvpnID}}{{lanID}}
!
default interface {{ LAN_INT }}
interface {{ LAN_INT }}
 description IfType[Customer:Branch] Customer[{{ CUST_NAME }}] SID[{{ SERVICE_ID }}] Site[{{ ORDER }}]
 no ip address
{{ ETH_SETTINGS(SUBVPN[subvpnID].LAN[lanID].MEDIA,IF_PORT_TYPE,SUBVPN[subvpnID].LAN[lanID].SPEED,SUBVPN[subvpnID].LAN[lanID].DUPLEX,value="") }}
{% if CDP_ON_LAN %}
 cdp enable
{% else %}
 no cdp enable
{% endif %}
{% if LAN_UP %}
 no shutdown
{% else %}
 shutdown
{% endif %}
 switchport mode access
 switchport access vlan 1{{subvpnID}}{{lanID}}
!
interface vlan1{{subvpnID}}{{lanID}}
{% elif IF_SW == [False] and not SUBVPN[subvpnID].LAN[lanID].VLAN %}
{# .............................................. #}
{# LAN UNTAGGED + ROUTED............................... #}
int {{ LAN_INT }}
{{ ETH_SETTINGS(SUBVPN[subvpnID].LAN[lanID].MEDIA,IF_PORT_TYPE,SUBVPN[subvpnID].LAN[lanID].SPEED,SUBVPN[subvpnID].LAN[lanID].DUPLEX,value="") }}
{% elif IF_SW == [True] and SUBVPN[subvpnID].LAN[lanID].VLAN %}
{# .............................................. #}
{# LAN DOT1Q + SWITCHED...............................#}
{% if TRUNK_USED|length == 0 %}
!
no spanning-tree vlan 1
no spanning-tree vlan 2
no spanning-tree vlan 1002
no spanning-tree vlan 1003
no spanning-tree vlan 1004
no spanning-tree vlan 1005
!
{% endif %}
!
{# FOR LOOP to mark an trunk interface as used #}
{% for item in TRUNK_USED %}
{% if item == LAN_INT %}
{% do IF_EXIST.append(True) %}
{% endif %}
{% endfor %}
{% if not IF_EXIST %}
!
default interface {{ LAN_INT }}
int {{ LAN_INT }}
 description IfType[Customer:Branch] Customer[{{ CUST_NAME }}] SID[{{ SERVICE_ID }}] Site[{{ ORDER }}]
 no ip address
{{ ETH_SETTINGS(SUBVPN[subvpnID].LAN[lanID].MEDIA,IF_PORT_TYPE,SUBVPN[subvpnID].LAN[lanID].SPEED,SUBVPN[subvpnID].LAN[lanID].DUPLEX,value="") }}
 switchport mode trunk
 switchport trunk encapsulation dot1q
 switchport trunk allowed vlan 1-2,1002-1005
{% if CDP_ON_LAN %}
 cdp enable
{% else %}
 no cdp enable
{% endif %}
{% if LAN_UP %}
 no shutdown
{% else %}
 shutdown
{% endif %}
!
{% endif %}
vlan {{ SUBVPN[subvpnID].LAN[lanID].VLAN }}
!
no spanning-tree vlan{{ SUBVPN[subvpnID].LAN[lanID].VLAN }}
!
default interface {{ LAN_INT }}
interface {{ LAN_INT }}
 switchport trunk allowed vlan add {{ SUBVPN[subvpnID].LAN[lanID].VLAN }}
!
interface vlan{{ SUBVPN[subvpnID].LAN[lanID].VLAN }}
{% do TRUNK_USED.append(LAN_INT) %}
{% elif IF_SW == [False] and SUBVPN[subvpnID].LAN[lanID].VLAN %}
{# .............................................. #}
{# LAN DOT1Q + ROUTED...............................#}
{% for item in IF_USED %}
{% if item == LAN_INT %}
{% do IF_EXIST.append(True) %}
{% endif %}
{% endfor %}
{% if not IF_EXIST %}
!
default int {{ LAN_INT }}
int {{ LAN_INT }}
 description IfType[Customer:Branch] Customer[{{ CUST_NAME }}] SID[{{ SERVICE_ID }}] Site[{{ ORDER }}]
 no ip address
{{ ETH_SETTINGS(SUBVPN[subvpnID].LAN[lanID].MEDIA,IF_PORT_TYPE,SUBVPN[subvpnID].LAN[lanID].SPEED,SUBVPN[subvpnID].LAN[lanID].DUPLEX,value="") }}
{% if CDP_ON_LAN %}
 cdp enable
{% else %}
 no cdp enable
{% endif %}
{% if LAN_UP %}
 no shutdown
{% else %}
 shutdown
{% endif %}
{% endif %}
!
interface {{ LAN_INT }}.{{ SUBVPN[subvpnID].LAN[lanID].VLAN }}
 encapsulation dot1q {{ SUBVPN[subvpnID].LAN[lanID].VLAN }}
{# MARK INT as used ...............................#}
{% do IF_USED.append(LAN_INT) %}
{% endif %}
 description IfType[Customer:Branch] Customer[{{ CUST_NAME }}] SID[{{ SERVICE_ID }}] Site[{{ ORDER }}] VPN[{{ SUBVPN[subvpnID].NAME|upper }}]{% if SITE_NAME_ALIAS %} Cust-Ref[{{SITE_NAME_ALIAS}}]
{% endif %}
{% if SUBVPN[subvpnID].NAME|upper != GRT_SUBVPN|upper %}
 ip vrf forwarding {{ SUBVPN[subvpnID].NAME|upper }}
{% endif %}
{% set lanip = TRIM_SPACES(SUBVPN[subvpnID].LAN[lanID].IP) %}
 ip address {{ lanip | ipaddr('address') }} {{ lanip | ipaddr('netmask')}}
{% if CDP_ON_LAN %}
 cdp enable
{% else %}
 no cdp enable
{% endif %}
{% if SUBVPN[subvpnID].WAN.0.IP | ipaddr('prefix') == 32 %}
 ip tcp adjust-mss 1400
{% endif %}
{% if LAN_UP %}
 no shutdown
{% else %}
 shutdown
{% endif %}
 ip access-group 110 in
{% include "templates/COMMON/VRRP.j2" %}
{% include "templates/COMMON/IPHELPER.j2" %}
{% endif %}
{% endfor %}
{% if ROLE == 'Mesh Access' or ROLE == 'Spoke' %}
{% set ROLE = 'CE1' %}
{% else %}
{% set ROLE = 'CE2' %}
{% endif %}
{% if VRRP_EXIST and ROLE == 'CE1' %}
track {{subvpnID + 1}} ip route 212.74.74.96 255.255.255.255 reachability
{% if SUBVPN[subvpnID].NAME|upper != GRT_SUBVPN|upper %}
 ip vrf {{ SUBVPN[subvpnID].NAME|upper }}
{% endif %}
!
{% endif %}
{% if IPHELPER_EXIST %}
!
service dhcp
{% endif %}
{% endfor %}
