{# MACRO to remove whitespaces in string #}
{% macro TRIM_SPACES(string) %}
{% set newstring = [] %}
{% set ifslash = [] %}
{% set ifspace = [] %}
{% set fwdslash = [] %}
{% for item in string %}
{% if item == '/'  %}
{% set fwdslash = 1 %}
{% endif %}
{% if loop.last and fwdslash != [] %}
{% do ifslash.append(True) %}
{% endif %}
{% endfor %}
{% if ifslash %}
{% for item in string %}
{% if item == " " %}
{% else  %}
{% do newstring.append(item) %}
{% endif %}
{% endfor %}
{% set newstring = newstring|join %}
{% else %}
{% for item in string %}
{% if item == " " and not ifspace %}
{% do newstring.append('/') %}
{% do ifspace.append(True) %}
{% elif item == " " and ifspace %}
{% else  %}
{% do newstring.append(item) %}
{% endif %}
{% endfor %}
{% set newstring = newstring|join %}
{% endif %}
{{newstring}}{% endmacro %}
