!VRF CREATION

{% for subvpnID in SUBVPN %}
{% if SUBVPN[subvpnID].STATUS %}
{% if SUBVPN[subvpnID].NAME != GRT_SUBVPN %}
ip vrf {{ SUBVPN[subvpnID].NAME }}
 rd {{CPE_AS}}:{{loop.index0}}
 !
{% endif %}
{% endif %}
{% endfor %}
