{# MACRO to limit COLT_HOSTNAME to 9 Digits eg AAA000000 #}
{% macro FIX_HOSTNAME(hostname) %}
{% set COLT_HOSTNAME = [] %}
{% for item in hostname %}
{% if loop.index0 == 9 %}
{% break %}
{% else  %}
{% do COLT_HOSTNAME.append(item) %}

{% endif %}
{% endfor %}

{% set COLT_HOSTNAME = COLT_HOSTNAME|join %}
{% endmacro %}
