#jinja2:trim_blocks: True, lstrip_blocks: True


{% if SNMP.RO_COMMUNITY %}
!
no snmp-server view cutdown
!
no ip access-list standard ACL-20
!
no snmp-server community {{SNMP.RO_COMMUNITY}} view cutdown ro ACL-20
!
  {% if SNMP.TRAPS_COMMUNITY %}
    {% for host in SNMP.TRAPS_HOSTS %}
no snmp-server host {{host|ipaddr}} {{SNMP.TRAPS_COMMUNITY}}
    {% endfor %}
  {% endif %}
{% endif %}
