{% from 'templates/COMMON/LAN_INT_MACRO.j2' import L3LAN_INT_MACRO with context %}
{% from 'templates/COMMON/LAN_INT_MACRO.j2' import L3B2B_INT_MACRO with context %}
!!! NAT FOR ORPEA {{COUNTRY}} !!!
!
ip nat translation timeout never
ip nat pool ORPEA 10.{{LAN_2ND_OCTET[COUNTRY].NAT}}.{{SITE_ID}}.1 10.{{LAN_2ND_OCTET[COUNTRY].NAT}}.{{SITE_ID}}.254 netmask 255.255.255.0 type match-host
ip nat inside source route-map NAT-WWW pool ORPEA reversible
!
route-map NAT-WWW permit 10
 match ip address 101
!
no access-list 101
access-list 101 permit ip 10.{{LAN_2ND_OCTET[COUNTRY].REAL}}.{{SITE_ID}}.0 0.0.0.255 10.50.50.0 0.0.0.255
access-list 101 deny   esp any any
access-list 101 deny   ip 10.{{LAN_2ND_OCTET[COUNTRY].REAL}}.{{SITE_ID}}.0 0.0.0.255 10.0.0.0 0.255.255.255
access-list 101 deny   ip 10.{{LAN_2ND_OCTET[COUNTRY].REAL}}.{{SITE_ID}}.0 0.0.0.255 172.16.0.0 0.15.255.255
access-list 101 deny   ip 10.{{LAN_2ND_OCTET[COUNTRY].REAL}}.{{SITE_ID}}.0 0.0.0.255 192.168.0.0 0.0.255.255
access-list 101 deny   ip 100.96.0.0 0.0.31.255 any
access-list 101 permit ip 10.{{LAN_2ND_OCTET[COUNTRY].REAL}}.{{SITE_ID}}.0 0.0.0.255 any
!
{% for subvpnID in SUBVPN %}
{% if SUBVPN[subvpnID].STATUS %}
interface {{ L3LAN_INT_MACRO(subvpnID,0) }}
 ip nat inside
!
{% if SUBVPN[subvpnID].B2B.0.INT and SUBVPN[subvpnID].B2B.0.IP and RELATED_ORDER %}
interface {{ L3B2B_INT_MACRO(subvpnID,0) }}
 ip nat inside
!
{% endif %}
ip route 10.{{LAN_2ND_OCTET[COUNTRY].NAT}}.{{SITE_ID}}.0 255.255.255.0 {{ L3LAN_INT_MACRO(0,0) }} tag 65505
{% endif %}
{% endfor %}

{% for subvpnID in SUBVPN %}
{% if SUBVPN[subvpnID].STATUS %}
{% if SUBVPN[subvpnID].WAN.0.INT %}
{% set WAN_INT = SUBVPN[subvpnID].WAN.0.INT %}
{%else%}
{% set WAN_INT = vars[CPE_MODEL].INT.0.INT %}
{% endif %}
{% if not SUBVPN[subvpnID].WAN.0.VLAN %}
{# WAN UNTAGGED #}
{% if SUBVPN[subvpnID].WAN.0.IP | ipaddr('prefix') == 32 %}
int Dialer1
{% else %}
interface {{WAN_INT}}
{% endif %}
{% else %}
interface {{WAN_INT}}.{{SUBVPN[subvpnID].WAN.0.VLAN}}
{% endif %}
 ip nat outside
{% endif %}
{% endfor %}
!
