{% from 'templates/COMMON/BW_CONVERTER_MACRO.j2' import SERVICE_BW_CONVERTER with context %}
{% set QOS = [] %}
{% set ACTIVE_VPNS = [] %}
{% set live_vpns = 0 %}
{% for subvpnID in SUBVPN %}
{% if SUBVPN[subvpnID].QOS_PROFILE and SUBVPN[subvpnID].STATUS %}
{% do QOS.append(True) %}
{% endif %}
{% endfor %}
{% for subvpnID in SUBVPN %}
{% set live_vpns = live_vpns+1 %}
{#live_vpns : {{live_vpns}}#}
  {% if loop.last %}
    {% do ACTIVE_VPNS.append(live_vpns) %}
  {% endif %}
{% endfor %}
{#!ACTIVE_VPNS :{{ACTIVE_VPNS}}#}
{% if QOS and CONTENTION == 'False'%}
!!!!!!!!!!!!!!!!QOS CPE!!!!!!!!!!!!!!!!!!!!!!!
!
no policy-map default-qos
!
ip access-list extended {{SERVICE_ID}}-Business-1-Classify
 permit ip 172.16.50.0 0.0.0.255 any
 permit ip any 172.16.50.0 0.0.0.255
 permit ip 10.60.50.0 0.0.0.255 any
 permit ip any 10.60.50.0 0.0.0.255
 permit ip 172.16.60.0 0.0.0.255 any
 permit ip any 172.16.60.0 0.0.0.255
 permit ip 172.16.150.0 0.0.0.255 any
 permit ip any 172.16.150.0 0.0.0.255
 permit ip 172.16.151.0 0.0.0.255 any
 permit ip any 172.16.151.0 0.0.0.255
 permit ip 172.16.152.0 0.0.0.255 any
 permit ip any 172.16.152.0 0.0.0.255
 permit ip 172.16.153.0 0.0.0.255 any
 permit ip any 172.16.153.0 0.0.0.255
 permit ip 172.16.154.0 0.0.0.255 any
 permit ip any 172.16.154.0 0.0.0.255
 permit ip 172.16.155.0 0.0.0.255 any
 permit ip any 172.16.155.0 0.0.0.255
 permit ip 172.16.156.0 0.0.0.255 any
 permit ip any 172.16.156.0 0.0.0.255
 permit ip 172.16.157.0 0.0.0.255 any
 permit ip any 172.16.157.0 0.0.0.255
 permit ip 172.16.158.0 0.0.0.255 any
 permit ip any 172.16.158.0 0.0.0.255
 permit ip 172.16.159.0 0.0.0.255 any
 permit ip any 172.16.159.0 0.0.0.255
!
ip access-list extended {{SERVICE_ID}}-Business-2-Classify
 permit tcp any any eq 2598
 permit tcp any eq 2598 any
 permit tcp any any eq 1494
 permit tcp any eq 1494 any
 permit tcp any any eq domain
 permit tcp any eq domain any
 permit tcp any any eq 88
 permit tcp any eq 88 any
 permit tcp any any eq 139
 permit tcp any eq 139 any
 permit tcp any any eq 135
 permit tcp any eq 135 any
 permit tcp any any eq 137
 permit tcp any eq 137 any
 permit tcp any any eq 161
 permit tcp any eq 161 any
 permit tcp any any eq 389
 permit tcp any eq 389 any
 permit tcp any any eq 5900
 permit tcp any eq 5900 any
 permit tcp any any eq 22
 permit tcp any eq 22 any
 permit tcp any any eq telnet
 permit tcp any eq telnet any
 permit tcp any any eq 123
 permit tcp any eq 123 any
 permit tcp any any eq 3268
 permit tcp any eq 3268 any
 permit tcp any any eq 27000
 permit tcp any eq 27000 any
 permit tcp any any eq 57652
 permit tcp any eq 57652 any
 permit tcp any any eq 7279
 permit tcp any eq 7279 any
 permit tcp any any eq 1688
 permit tcp any eq 1688 any
 permit tcp any any eq 59707
 permit tcp any eq 59707 any
 permit udp any any eq domain
 permit udp any eq domain any
 permit udp any any eq 88
 permit udp any eq 88 any
 permit udp any any eq ntp
 permit udp any eq ntp any
 permit udp any any eq netbios-ns
 permit udp any eq netbios-ns any
 permit udp any any eq netbios-ss
 permit udp any eq netbios-ss any
 permit udp any any eq 389
 permit udp any eq 389 any
 permit udp any any eq 5000
 permit udp any eq 5000 any
 permit tcp any host 172.16.0.114 eq www
 permit tcp host 172.16.0.114 eq www any
!
ip access-list extended Management-Routing-Classify
 permit ip any 212.74.95.0 0.0.0.63
 permit ip any 212.74.94.0 0.0.0.63
 permit ip 212.74.95.0 0.0.0.63 any
 permit ip 212.74.94.0 0.0.0.63 any
 permit tcp any any eq bgp
 permit udp any eq rip any eq rip
!

class-map match-any {{SERVICE_ID}}-Business-1-Class
  match access-group name {{SERVICE_ID}}-Business-1-Classify
!
class-map match-any {{SERVICE_ID}}-Business-2-Class
  match access-group name {{SERVICE_ID}}-Business-2-Classify
!
class-map match-any {{SERVICE_ID}}-Business-3-Class
  match access-group name {{SERVICE_ID}}-Business-3-Classify
!
class-map match-any Management-Routing-Class
  match access-group name Management-Routing-Classify

!
{% set PROF_USED = [] %}
{% for subvpnID in SUBVPN %}
{% if SUBVPN[subvpnID].QOS_PROFILE and SUBVPN[subvpnID].STATUS %}
{% if ACTIVE_VPNS == [1] %}
{% set subvpn_ser_bw = SERVICE_BW_UL %}
{% else %}
{% set subvpn_ser_bw = SUBVPN[subvpnID].BW %}
{% endif %}
{% for item in QOS_PARAM %}
{% if QOS_PARAM[item].NAME|capitalize == SUBVPN[subvpnID].QOS_PROFILE|capitalize %}
{% if not SUBVPN[subvpnID].QOS_PROFILE|capitalize in PROF_USED %}
!
policy-map {{SERVICE_ID}}-Profile{% if SUBVPN[subvpnID].QOS_PROFILE|capitalize != 'None' %}{{SUBVPN[subvpnID].QOS_PROFILE|upper}}{% endif %}-Queue
{% if QOS_PARAM[item].PR.PERCENT != 0 %}
{% if vars[CPE_MODEL].OS == 'IOS-XE' %}
 class {{SERVICE_ID}}-Premium-Class
  police rate percent {{QOS_PARAM[item].PR.PERCENT}}
  priority
  set ip dscp ef
{% else %}
 class {{SERVICE_ID}}-Premium-Class
  priority percent {{QOS_PARAM[item].PR.PERCENT}}
  police rate percent {{QOS_PARAM[item].PR.PERCENT}}
  set ip dscp ef
{% endif %}
{% endif %}
{% if QOS_PARAM[item].B1.PERCENT != 0 %}
 class {{SERVICE_ID}}-Business-1-Class
  bandwidth percent {{QOS_PARAM[item].B1.PERCENT}}
  set ip dscp af31
{% if QOS_PARAM[item].B1.WRED == 'yes' %}
  random-detect
{% endif %}
{% if QOS_PARAM[item].B1.QUEUELIMIT  %}
  queue-limit {{QOS_PARAM[item].B1.QUEUELIMIT}} packets
{% endif %}
{% endif %}
{% if QOS_PARAM[item].B2.PERCENT != 0 %}
 class {{SERVICE_ID}}-Business-2-Class
  bandwidth percent {{QOS_PARAM[item].B2.PERCENT}}
  set ip dscp af21
{% if QOS_PARAM[item].B2.WRED == 'yes' %}
  random-detect
{% endif %}
{% if QOS_PARAM[item].B2.QUEUELIMIT  %}
  queue-limit {{QOS_PARAM[item].B2.QUEUELIMIT}} packets
{% endif %}
{% endif %}
 class Management-Routing-Class
  bandwidth percent 4
  set ip dscp af41
{% if QOS_PARAM[item].B3.PERCENT != 0 %}
class {{SERVICE_ID}}-Business-3-Class
  bandwidth percent {{QOS_PARAM[item].B3.PERCENT}}
  set ip dscp af11
{% if QOS_PARAM[item].B3.WRED == 'yes' %}
  random-detect
{% endif %}
{% if QOS_PARAM[item].B3.QUEUELIMIT  %}
  queue-limit {{QOS_PARAM[item].B3.QUEUELIMIT}} packets
{% endif %}
{% endif %}
{% if QOS_PARAM[item].Def.PERCENT != 0 %}
class class-default
  bandwidth percent {{QOS_PARAM[item].Def.PERCENT}}
  set ip dscp 0
  random-detect
{% if QOS_PARAM[item].Def.WRED == 'yes' %}
  random-detect
{% endif %}
{% if QOS_PARAM[item].Def.QUEUELIMIT  %}
  queue-limit {{QOS_PARAM[item].Def.QUEUELIMIT}} packets
{% endif %}
{% endif %}
!
{% endif %}
{% do PROF_USED.append(SUBVPN[subvpnID].QOS_PROFILE|capitalize) %}
policy-map {{SERVICE_ID}}-Profile{% if SUBVPN[subvpnID].QOS_PROFILE|capitalize != 'None' %}{{SUBVPN[subvpnID].QOS_PROFILE|upper}}{% endif %}-Queue-{{ SERVICE_BW_CONVERTER(subvpn_ser_bw,value="descr") }}
 class class-default
  shape average {{ SERVICE_BW_CONVERTER(subvpn_ser_bw,value="bit") }}
{% if PROVIDER == 'TELEFONICA(ES)' and PROVIDER_PRODUCT == 'NEBA G5 (300M/300M) G' %}
  set cos-inner 3
{% endif %}
{% if PROVIDER == 'TELEFONICA(ES)' and PROVIDER_PRODUCT == 'NEBA F74 30M/10M (Gold)' %}
  set cos-inner 3
{% endif %}
{% if PROVIDER == 'BRITISH TELECOMMUNICATIONS(ES)' and PROVIDER_PRODUCT == 'FTTH 10M/10M 10% (Gold)' %}
  set cos-inner 3
{% endif %}
  service-policy {{SERVICE_ID}}-Profile{% if SUBVPN[subvpnID].QOS_PROFILE|capitalize != 'None' %}{{SUBVPN[subvpnID].QOS_PROFILE|upper}}{% endif %}-Queue
!
{% endif %}
{% endfor %}
{% if SUBVPN[subvpnID].WAN.0.INT %}
{% set WAN_INT = SUBVPN[subvpnID].WAN.0.INT %}
{%else%}
{% set WAN_INT = vars[CPE_MODEL].INT.0.INT %}
{% endif %}
{% if not SUBVPN[subvpnID].WAN.0.VLAN %}
{# WAN UNTAGGED #}
{% if CPE_MODEL == 887 or CPE_MODEL == 886 or CPE_MODEL == '886VAJ' %}
interface ATM0.1
{% if COUNTRY == 'FRANCE' %}
 pvc 8/35
{% elif COUNTRY == 'SPAIN' %}
 pvc 0/35
{% elif COUNTRY == 'GERMANY' %}
 pvc 1/32
{% endif %}
{% else %}
interface {{WAN_INT}}
{% endif %}
{% else %}
{# WAN TAGGED #}
interface {{WAN_INT}}.{{SUBVPN[subvpnID].WAN.0.VLAN}}
{% endif %}
 no service-policy output main
 service-policy output {{SERVICE_ID}}-Profile{% if SUBVPN[subvpnID].QOS_PROFILE|capitalize != 'None' %}{{SUBVPN[subvpnID].QOS_PROFILE|upper}}{% endif %}-Queue-{{ SERVICE_BW_CONVERTER(subvpn_ser_bw,value="descr") }}
!
{% endif %}
{% endfor %}
{% else %}
{% for subvpnID in SUBVPN %}
{% if ACTIVE_VPNS == [1] %}
{% set subvpn_ser_bw = SERVICE_BW_UL %}
{% else %}
{% set subvpn_ser_bw = SUBVPN[subvpnID].BW %}
{% endif %}
!
policy-map {{ SERVICE_BW_CONVERTER(subvpn_ser_bw,value="descr") }}-shaping
  class class-default
   shape average {{ SERVICE_BW_CONVERTER(subvpn_ser_bw,value="bit") }}
{% if PROVIDER == 'TELEFONICA(ES)' and PROVIDER_PRODUCT == 'NEBA G5 (300M/300M) G' %}
   set cos-inner 3
{% endif %}
{% if PROVIDER == 'TELEFONICA(ES)' and PROVIDER_PRODUCT == 'NEBA F74 30M/10M (Gold)' %}
   set cos-inner 3
{% endif %}
!
{% if SUBVPN[subvpnID].WAN.0.INT %}
{% set WAN_INT = SUBVPN[subvpnID].WAN.0.INT %}
{%else%}
{% set WAN_INT = vars[CPE_MODEL].INT.0.INT %}
{% endif %}
{% if not SUBVPN[subvpnID].WAN.0.VLAN %}
{# WAN UNTAGGED #}
{% if CPE_MODEL == 887 or CPE_MODEL == 886 or CPE_MODEL == '886VAJ' %}
interface ATM0.1
{% if COUNTRY == 'FRANCE' %}
 pvc 8/35
{% elif COUNTRY == 'SPAIN' %}
 pvc 0/35
{% elif COUNTRY == 'GERMANY' %}
 pvc 1/32
{% endif %}
{% else %}
interface {{WAN_INT}}
{% endif %}
{% else %}
{# WAN TAGGED #}
interface {{WAN_INT}}.{{SUBVPN[subvpnID].WAN.0.VLAN}}
{% endif %}
  no service-policy output main
  service-policy output {{ SERVICE_BW_CONVERTER(subvpn_ser_bw,value="descr") }}-shaping
{% endfor %}
{% endif %}
