!!# SNMP #!!
!
snmp-server view cutdown system included
snmp-server view cutdown interfaces included
snmp-server view cutdown ciscoEnvMonMIB included
!
access-list 20 permit 172.16.3.153
access-list 20 permit 172.16.143.10
access-list 20 permit 172.18.3.53
access-list 20 permit 172.18.3.52
access-list 20 permit 172.18.3.54
access-list 20 permit 172.18.3.51
access-list 20 permit 172.18.3.50
access-list 20 permit 172.16.0.91
access-list 20 permit 192.168.0.145
!
snmp-server community coltorpea92 view cutdown RO 20
!
