#jinja2:trim_blocks: True, lstrip_blocks: True

!OHS SERVICE_BW REWORK
!OHS SERVICE_BW > {{ SERVICE_BW }}
!==================
{% set IF_FWD_SLASH = [] %}
{% set IF_COLON = [] %}
{% for item in SERVICE_BW -%}
  {% if item == "/"  -%}
    {% do IF_FWD_SLASH.append('True') %}
  {% elif item == ":" -%}
    {% do IF_COLON.append('True') %}
  {% endif -%}
{% endfor -%}
{% if not IF_FWD_SLASH and not IF_COLON -%}
  {% set SERVICE_BW_DL = SERVICE_BW %}
  {% set SERVICE_BW_UL = SERVICE_BW %}
  {% set CONTENTION_VALUE = [] %}
  {% set CONTENTION = 'False' %}
{% elif IF_FWD_SLASH and not IF_COLON -%}
  {% set list1 = SERVICE_BW.split('/') %}
  {% set SERVICE_BW_DL = list1[0] %}
  {% set SERVICE_BW_UL = list1[1] %}
  {% set CONTENTION_VALUE = [] %}
  {% set CONTENTION = 'False' %}
{% elif IF_FWD_SLASH and IF_COLON -%}
  {% set list1 = SERVICE_BW.split('/') %}
  {% set SERVICE_BW_DL = list1[0] %}
  {% set list2 = list1[1].split(' ') %}
  {% set SERVICE_BW_UL = list2[0]+' '+list2[1] %}
  {% set CONTENTION_VALUE = list2[2] %}
    {% if CONTENTION_VALUE != '1:1' -%}
    {% set CONTENTION = 'True' %}
    {% else -%}
    {% set CONTENTION = 'False' %}
    {% endif -%}
{% endif -%}

!ACTIVE VPN NUMBER
!==================
{% set QOS = [] %}
{% set ACTIVE_VPNS = [] %}
{% set live_vpns = 0 %}
{% for subvpnID in SUBVPN %}
{% if SUBVPN[subvpnID].QOS_PROFILE and SUBVPN[subvpnID].STATUS %}
{% do QOS.append(True) %}
{% set live_vpns = live_vpns+1 %}
{#live_vpns :{{live_vpns}}#}
  {% if loop.last %}
    {% do ACTIVE_VPNS.append(live_vpns) %}
  {% endif %}
{% endif %}
{% endfor %}
!ACTIVE_VPNS :{{ACTIVE_VPNS}}



{% include "templates/COMMON/LAN.j2" %}

{% if RELATED_ORDER %}
{% include "templates/COMMON/B2B.j2" %}
{% endif %}

{% include "templates/COMMON/WAN.j2" %}




{% include "SNMP.j2" %}
{% include "QOS.j2" with context %}

{% include "ROUTING_EU.j2" %}


{% if RELATED_ORDER %}
{% include "NAT_EU.j2" %}
{% endif %}

end
