{# .............................................. #}
{# ................B2B........................... #}
{# .............................................. #}
!B2B
{% from 'templates/COMMON/ETH_SETTINGS_MACRO.j2' import ETH_SETTINGS with context %}
{% from 'templates/COMMON/TRIM_SPACES_MACRO.j2' import TRIM_SPACES with context %}
{# .....VARIABLE CREATION........................ #}
{% set TRUNK_USED = [] %}
{% set IF_USED = [] %}
{% set IF_EXIST = [] %}
{# .............................................. #}
{# .............................................. #}
{# ..FOR LOOP to TEST IF INTERFACE IS SWITCHED in all.yml... #}
{% for subvpnID in SUBVPN %}
{% if SUBVPN[subvpnID].STATUS %}
{% if SUBVPN[subvpnID].B2B.0.INT and SUBVPN[subvpnID].B2B.0.IP %}
{% set IF_SW = [] %}
{% set IF_PORT_TYPE = [] %}
{# .............................................. #}
{% for ifID in vars[CPE_MODEL].INT %}
{% if vars[CPE_MODEL].INT[ifID].INT == SUBVPN[subvpnID].B2B.0.INT %}
{% do IF_SW.append(vars[CPE_MODEL].INT[ifID].SWITCHED) %}
{% do IF_PORT_TYPE.append(vars[CPE_MODEL].INT[ifID].PORT_TYPE) %}
{% endif %}
{% endfor %}
{% if IF_SW == [True] %}
{# .............................................. #}
{# .............................................. #}
{# LAN DOT1Q + SWITCHED...............................#}
{% for item in TRUNK_USED %}
{% if item == SUBVPN[subvpnID].B2B.0.INT %}
{% do IF_EXIST.append(True) %}
{% endif %}
{% endfor %}
{% if not IF_EXIST %}
int {{ SUBVPN[subvpnID].B2B.0.INT }}
 description IfType[B2B] L3BEnd[{{hostvars[RELATED_ORDER].COLT_HOSTNAME}}]
{{ ETH_SETTINGS(SUBVPN[subvpnID].B2B.0.MEDIA,IF_PORT_TYPE,SUBVPN[subvpnID].B2B.0.SPEED,SUBVPN[subvpnID].B2B.0.DUPLEX,value="") }}
 switchport mode trunk
 switchport trunk encapsulation dot1q
 switchport trunk allowed vlan 1-2,1002-1005
!
{% endif %}
vlan {{ SUBVPN[subvpnID].B2B.0.VLAN }}
!
no spanning-tree vlan {{ SUBVPN[subvpnID].B2B.0.VLAN }}
!
interface {{ SUBVPN[subvpnID].B2B.0.INT }}
switchport trunk allowed vlan add {{ SUBVPN[subvpnID].B2B.0.VLAN }}
!
interface vlan{{ SUBVPN[subvpnID].B2B.0.VLAN }}
{% do TRUNK_USED.append(SUBVPN[subvpnID].B2B.0.INT) %}
{% elif IF_SW == [False] %}
{# .............................................. #}
{# LAN DOT1Q + ROUTED...............................#}
{% for item in IF_USED %}
{% if item == SUBVPN[subvpnID].B2B.0.INT %}
{% do IF_EXIST.append(True) %}
{% endif %}
{% endfor %}
{% if not IF_EXIST %}
int {{ SUBVPN[subvpnID].B2B.0.INT }}
 description IfType[B2B] L3BEnd[{{hostvars[RELATED_ORDER].COLT_HOSTNAME}}]
{{ ETH_SETTINGS(SUBVPN[subvpnID].B2B.0.MEDIA,IF_PORT_TYPE,SUBVPN[subvpnID].B2B.0.SPEED,SUBVPN[subvpnID].B2B.0.DUPLEX,value="") }}
{% endif %}
!
interface {{ SUBVPN[subvpnID].B2B.0.INT }}.{{ SUBVPN[subvpnID].B2B.0.VLAN }}
 encapsulation dot1q {{ SUBVPN[subvpnID].B2B.0.VLAN }}
{# MARK INT as used ...............................#}
{% do IF_USED.append(SUBVPN[subvpnID].B2B.0.INT) %}
{% endif %}
 description IfType[B2B] L3BEnd[{{hostvars[RELATED_ORDER].COLT_HOSTNAME}}] VPN[{{ SUBVPN[subvpnID].NAME|upper }}]
{% if SUBVPN[subvpnID].NAME|upper != GRT_SUBVPN|upper %}
 ip vrf forwarding {{ SUBVPN[subvpnID].NAME|upper }}
{% endif %}
{% set b2bip = TRIM_SPACES(SUBVPN[subvpnID].B2B.0.IP) %}
 ip address {{ b2bip | ipaddr('address') }} {{ b2bip | ipaddr('netmask')}}
!
{% endif %}
{% endif %}
{% endfor %}
