{# .............................................. #}
{# ..........BASIC CONFIG FIX.................... #}
{# .............................................. #}
!
interface Loopback0
 description IfType[Management]
{# .............................................. #}
{# ..........CUSTOMER MGMT LB.................... #}
{# .............................................. #}
!
{% if CUST_LB.0.IP %}
{% if CUST_LB.0.ID %}
interface Loopback{{ CUST_LB.0.ID }}
{%else%}
interface Loopback{{DEFAULT_CUST_LB_ID}}
{% endif %}
 description IfType[{{ CUST_NAME }} Management] {% if SITE_NAME_ALIAS %}Customer-Ref[{{ SITE_NAME_ALIAS }}]{% endif %} {% if GLOBAL_ROUTING_OPTION %}Routing-Option[{{ GLOBAL_ROUTING_OPTION }}]{% endif %} {% if CUST_HOSTNAME %}Customer-Hostname[{{ CUST_HOSTNAME }}]
{% endif %}
{% if CUST_LB.0.SUBVPN != GRT_SUBVPN %}

 ip vrf forwarding {{ CUST_LB.0.SUBVPN }}
{% endif %}
 ip address {{ CUST_LB.0.IP | ipaddr('address') }} 255.255.255.255
{% endif %}
!
