!NETFLOW
!
flow exporter FLOW-EXPORT
 description FLOW-EXPORTER
{% for country,ip in NETFLOW_DEST|dictsort %}
{% if country == COUNTRY %}
 destination {{ip}} {% if CUST_LB.0.SUBVPN != GRT_SUBVPN %} vrf {{CUST_LB.0.SUBVPN}}{% endif %}

{% endif %}
{% endfor %}
{% if NETFLOW_PROTOCOL == 'V9' %}
 export-protocol netflow-v9
{% elif NETFLOW_PROTOCOL == 'V5' %}
 export-protocol netflow-v5
{% endif %}
 transport udp {{NETFLOW_PORT}}
 source {{NETFLOW_SOURCE}}
 dscp 10
!
flow monitor FLOW-IPv4-IN
 exporter FLOW-EXPORT
 cache timeout active 1
 record netflow ipv4 original-input
!
flow monitor FLOW-IPv4-OUT
 exporter FLOW-EXPORT
 cache timeout active 1
 record netflow ipv4 original-output
!
