{% if ROLE == 'Mesh Access' or ROLE == 'Spoke' %}
{% set ROLE = 'CE1' %}
{% else %}
{% set ROLE = 'CE2' %}
{% endif %}
{% if SUBVPN[subvpnID].LAN[lanID].VIP.0.ID and SUBVPN[subvpnID].LAN[lanID].VIP.0.IP %}
{% set vrrpip = TRIM_SPACES(SUBVPN[subvpnID].LAN[lanID].VIP.0.IP) %}
 vrrp {{ SUBVPN[subvpnID].LAN[lanID].VIP.0.ID }} ip {{ vrrpip | ipaddr('address') }}
 vrrp {{ SUBVPN[subvpnID].LAN[lanID].VIP.0.ID }} preempt
{% if ROLE == 'CE1' %}
 vrrp {{ SUBVPN[subvpnID].LAN[lanID].VIP.0.ID }} priority 110
 vrrp {{ SUBVPN[subvpnID].LAN[lanID].VIP.0.ID }} track {{subvpnID + 1}} decrement 20
!
{% elif ROLE == 'CE2' %}
 vrrp {{ SUBVPN[subvpnID].LAN[lanID].VIP.0.ID }} priority 100
!
{% endif %}
{% do VRRP_EXIST.append(True) %}
{% endif %}
