{% from 'templates/COMMON/LAN_INT_MACRO.j2' import L3LAN_INT_MACRO with context %}
{% from 'templates/COMMON/LAN_INT_MACRO.j2' import L3B2B_INT_MACRO with context %}

{% for subvpnID in SUBVPN %}
{% if SUBVPN[subvpnID].STATUS %}

{% set VRF_NAME = SUBVPN[subvpnID].NAME %}


!!! NAT FOR CUST1 in VRF {{VRF_NAME}} !!!
!
ip nat translation timeout never
ip nat pool CUST1-{{VRF_NAME}} 10.{{LAN_2ND_OCTET[VRF_NAME].NAT}}.{{SITE_ID}}.1 10.{{LAN_2ND_OCTET[VRF_NAME].NAT}}.{{SITE_ID}}.254 netmask 255.255.255.0 type match-host
ip nat inside source route-map NAT-WWW-{{VRF_NAME}} pool CUST1-{{VRF_NAME}} reversible
!
route-map NAT-WWW-{{VRF_NAME}} permit 10
 match ip address 10{{loop.index}}
!
no access-list 10{{loop.index}}
access-list 10{{loop.index}} permit ip 10.{{LAN_2ND_OCTET[VRF_NAME].REAL}}.{{SITE_ID}}.0 0.0.0.255 8.8.8.8 0.0.0.0
access-list 10{{loop.index}} deny   ip 10.{{LAN_2ND_OCTET[VRF_NAME].REAL}}.{{SITE_ID}}.0 0.0.0.255 10.223.0.0 0.0.0.255
access-list 10{{loop.index}} deny   ip 10.255.0.0 0.0.255.255 any
access-list 10{{loop.index}} permit ip 10.{{LAN_2ND_OCTET[VRF_NAME].REAL}}.{{SITE_ID}}.0 0.0.0.255 any
!



interface {{ L3LAN_INT_MACRO(subvpnID,0) }}
 ip nat inside
!
{% if SUBVPN[subvpnID].B2B.0.INT and SUBVPN[subvpnID].B2B.0.IP and RELATED_ORDER %}
interface {{ L3B2B_INT_MACRO(subvpnID,0) }}
 ip nat inside
!
{% endif %}
ip route 10.{{LAN_2ND_OCTET[VRF_NAME].NAT}}.{{SITE_ID}}.0 255.255.255.0 {{ L3LAN_INT_MACRO(0,0) }} tag 65505



{% if SUBVPN[subvpnID].WAN.0.INT %}
{% set WAN_INT = SUBVPN[subvpnID].WAN.0.INT %}
{%else%}
{% set WAN_INT = vars[CPE_MODEL].INT.0.INT %}
{% endif %}






{% if not SUBVPN[subvpnID].WAN.0.VLAN %}
{# WAN UNTAGGED #}
{% if SUBVPN[subvpnID].WAN.0.IP | ipaddr('prefix') == 32 %}
int Dialer1
{% else %}
interface {{WAN_INT}}
{% endif %}
{% else %}
interface {{WAN_INT}}.{{SUBVPN[subvpnID].WAN.0.VLAN}}
{% endif %}
 ip nat outside



{% endif %}
{% endfor %}
