{% from 'templates/COMMON/LAN_INT_MACRO.j2' import L3LAN_INT_MACRO with context %}
{% from 'templates/COMMON/LAN_INT_MACRO.j2' import L3B2B_INT_MACRO with context %}
{% from 'templates/COMMON/TRIM_SPACES_MACRO.j2' import TRIM_SPACES with context %}
{% set B2B_EXIST = [] %}
{% for subvpnID in SUBVPN %}
{% if SUBVPN[subvpnID].STATUS %}
{% if SUBVPN[subvpnID].B2B.0.INT and SUBVPN[subvpnID].B2B.0.IP %}
{% do B2B_EXIST.append(True) %}
{% endif %}
{% endif %}
{% endfor %}
{% if ROLE == 'Mesh Access' or ROLE == 'Spoke' %}
{% set ROLE = 'CE1' %}
{% else %}
{% set ROLE = 'CE2' %}
{% endif %}


!!# >>>> ROUTING EU {{ROLE}} !!!!! #!!
!
ip bgp-community new-format
!
access-list 30 permit {{COLT_LB.0.IP | ipaddr('address')}}
!
route-map {{ CPE_AS }}-TAGGED-STATIC permit 10
 match tag {{ CPE_AS }}
!
route-map REDISTRIBUTE-CONNECTED permit 10
 match ip address 30
 set community 8220:40001
!
route-map REDISTRIBUTE-CONNECTED permit 20
!
!
!
{% if RELATED_ORDER %}
ip prefix-list WWW seq 5 permit 8.8.8.8/32
ip prefix-list B2B seq 5 permit 10.255.80.16/30
ip prefix-list REMOTE_LB seq 5 permit {{ hostvars[RELATED_ORDER].COLT_LB.0.IP | ipaddr('address') }}/32
!
ip community-list 9 permit 65505:1
!
route-map FROM-SAR deny 10
 match community 1
!
route-map FROM-SAR deny 11
 match ip address prefix-list REMOTE_LB
!
{% if ROLE == 'CE1' %}
ip community-list 1 permit 12345:6789
!
route-map FROM-SAR permit 20
 match ip address prefix-list WWW
 set community 65505:1
!
route-map FROM-SAR permit 30
 set local-preference 250
 set community 65505:1
!
{% elif ROLE == 'CE2' %}
ip community-list 1 permit 12345:6790
!
route-map FROM-SAR permit 20
 match ip address prefix-list WWW
 set local-preference 250
 set community 65505:1
!
route-map FROM-SAR permit 30
 set community 65505:1
!
{% endif %}
!
!
route-map TO-SAR deny 5
 match ip address prefix-list B2B
!
route-map TO-SAR deny 6
 match community 9
!
route-map TO-SAR permit 10
 match ip address prefix-list NAT
{% if ROLE == 'CE1' %}
 set community 12345:6789 additive
 set as-path prepend 65505
{% elif ROLE == 'CE2' %}
 set community 12345:6790 additive
{% endif %}
!
route-map TO-SAR permit 20
{% if ROLE == 'CE1' %}
 set community 12345:6789 additive
{% elif ROLE == 'CE2' %}
 set community 12345:6790 additive
 set as-path prepend 65505
{% endif %}
!
!
ip prefix-list COLT-IP seq 5 permit 192.168.33.0/24 le 32
ip prefix-list COLT-IP seq 40 permit 212.74.74.96/32
!
route-map DENY-MGMT deny 10
 match ip address prefix-list COLT-IP
!
route-map DENY-MGMT permit 20
!
{% endif %}
!
!
router bgp {{ CPE_AS }}
 bgp log-neighbor-changes
{% for subvpnID in SUBVPN %}
{% if SUBVPN[subvpnID].STATUS %}
{% if SUBVPN[subvpnID].NAME != GRT_SUBVPN %}
 address-family ipv4 vrf {{ SUBVPN[subvpnID].NAME }}
{% endif %}
{% if SUBVPN[subvpnID].WAN.0.IP | ipaddr('prefix') == 32 %}
{% set remotewanip = ERX[SUBVPN[subvpnID].NAME][SAR].LB %}
{% else %}
{% set remotewanip = SUBVPN[subvpnID].WAN.0.IP | ipaddr('1') | ipaddr('address') %}
{% endif %}
 redistribute connected route-map REDISTRIBUTE-CONNECTED
 redistribute static route-map {{ CPE_AS }}-TAGGED-STATIC
 no neighbor 10.255.80.17
 no neighbor 10.255.80.18
 neighbor {{remotewanip}} remote-as {{ COLT_AS }}
 neighbor {{remotewanip}} description {{ SAR }}
 neighbor {{remotewanip}} timers {{CPE_BGP.TIMERS.KEEPALIVE}} {{CPE_BGP.TIMERS.HOLDTIME}}
{% if BFD.STATUS %}
 neighbor {{remotewanip}} fall-over bfd
{% endif %}
 neighbor {{remotewanip}} next-hop-self
 neighbor {{remotewanip}} send-community
 neighbor {{remotewanip}} allowas-in
{% if RELATED_ORDER %}
 neighbor {{remotewanip}} route-map FROM-SAR in
 neighbor {{remotewanip}} route-map TO-SAR out
 neighbor {{ hostvars[RELATED_ORDER].COLT_LB.0.IP | ipaddr('address') }} remote-as {{ CPE_AS }}
 neighbor {{ hostvars[RELATED_ORDER].COLT_LB.0.IP | ipaddr('address') }} update-source Loopback0
 neighbor {{ hostvars[RELATED_ORDER].COLT_LB.0.IP | ipaddr('address') }} description {{ hostvars[RELATED_ORDER].COLT_HOSTNAME }}
 neighbor {{ hostvars[RELATED_ORDER].COLT_LB.0.IP | ipaddr('address') }} route-map DENY-MGMT out
 neighbor {{ hostvars[RELATED_ORDER].COLT_LB.0.IP | ipaddr('address') }} timers {{CPE_BGP.TIMERS.KEEPALIVE}} {{CPE_BGP.TIMERS.HOLDTIME}}
 neighbor {{ hostvars[RELATED_ORDER].COLT_LB.0.IP | ipaddr('address') }} next-hop-self
 neighbor {{ hostvars[RELATED_ORDER].COLT_LB.0.IP | ipaddr('address') }} send-community
{% endif %}
{% if SUBVPN[subvpnID].NAME != GRT_SUBVPN %}
 exit-address-family
{% endif %}
!
{% endif %}
{% endfor %}
!
{% if RELATED_ORDER %}
{% for subvpnID in SUBVPN %}
{% if SUBVPN[subvpnID].STATUS %}
{% if SUBVPN[subvpnID].NAME == GRT_SUBVPN %}
{% if B2B_EXIST %}
{% set remoteb2bip = TRIM_SPACES(hostvars[RELATED_ORDER].SUBVPN[subvpnID].B2B.0.IP) %}
ip route {{ hostvars[RELATED_ORDER].COLT_LB.0.IP | ipaddr('address') }} 255.255.255.255 {{ L3B2B_INT_MACRO(subvpnID,0) }} {{ remoteb2bip | ipaddr('address') }}
{% set remotelanip = TRIM_SPACES(hostvars[RELATED_ORDER].SUBVPN[subvpnID].LAN.0.IP) %}
ip route {{ hostvars[RELATED_ORDER].COLT_LB.0.IP | ipaddr('address') }} 255.255.255.255 {{ L3LAN_INT_MACRO(subvpnID,0) }} {{ remotelanip | ipaddr('address') }} 250
{% else %}
{% set remotelanip = TRIM_SPACES(hostvars[RELATED_ORDER].SUBVPN[subvpnID].LAN.0.IP) %}
ip route {{ hostvars[RELATED_ORDER].COLT_LB.0.IP | ipaddr('address') }} 255.255.255.255 {{ L3LAN_INT_MACRO(subvpnID,0) }} {{ remotelanip | ipaddr('address') }}
{% endif %}
{% endif %}
!
{% endif %}
{% endfor %}
ip ssh source-interface loopback 0
ip access-list standard 10
 1 permit {{ hostvars[RELATED_ORDER].COLT_LB.0.IP | ipaddr('address') }}
{% endif %}
!
no ip route 212.74.94.0 255.255.255.192 10.255.18.37
no ip route 212.74.95.0 255.255.255.192 10.255.18.37
