#jinja2:trim_blocks: True, lstrip_blocks: True

!!# START CONFIG NO SNMP #!!

{% if SNMP.RO_COMMUNITY %}

no snmp-server view cutdown
!
no ipv4 access-list ACL-20
!
no snmp-server community {{SNMP.RO_COMMUNITY}} view cutdown RO COLT-BILLING
!
  {% if SNMP.TRAPS_COMMUNITY %}
    {% for host in SNMP.TRAPS_HOSTS %}
no snmp-server host {{host|ipaddr}} {{SNMP.TRAPS_COMMUNITY}} snmp
    {% endfor %}
  {% endif %}
{% endif %}
!!# END CONFIG SNMP #!!
